<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!-- build:css(.) styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
<link rel="stylesheet"
	href="lib/angular-treetable/style/jquery.treetable.css">
<link rel="stylesheet"
	href="lib/angular-treetable/style/jquery.treetable.theme.default.css">
</head>
<body ng-app="webappApp">
	<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Add your site or application content here -->
	<div ng-controller="IntegrationcontrollerCtrl as ic">

		<matrix-editor matrix="mtx" headers="headers" controls="ctrls" ></matrix-editor>
		
	</div>
	

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	<!-- endbower -->
	<!-- endbuild -->
	<script src="lib/angular-treetable/jquery.treetable.js"></script>
	<script src="lib/angular-treetable/angular-treetable.js"></script>



	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/about.js"></script>
	<script src="scripts/directives/matrixEditor.js"></script>
	<script src="scripts/services/matrixhandler.js"></script>
<script src="scripts/controllers/integrationcontroller.js"></script>
	<!-- endbuild -->

	<script type="text/ng-template" id="tree_node">
	<tr tt-node is-branch="meCtrl.isExpandable(node)">
		<td><span ng-class="meCtrl.labelClass(node)" class="label label-icon">
				{{meCtrl.labelText(node)}} </span> <span ng-bind="node.path"></span></td>
		<td ng-bind="node.name"></td>
		<td style="padding : 0;" ng-repeat="head in meCtrl.headers">
			<select ng-hide="meCtrl.getValue(node,head) == -1" ng-class="meCtrl.cellClass(meCtrl.getValue(node,head))" style="text-align : center; width : 100%; height : 30px;" class="form-control danger" name="singleSelect" ng-model="node.indexes[head]" convert-to-number>
				<option style="text-align : center; color : white; background-color : gray;" value="0" ng-selected="node.indexes[head]===0">Ignore</option>
				<option style="text-align : center; color : white; background-color : blue;" value="1" ng-selected="node.indexes[head]===1">Alert</option>
				<option style="text-align : center; color : white; background-color : orange;" value="2" ng-selected="node.indexes[head]===2">Warning</option>
				<option style="text-align : center; color : white; background-color : red;" value="3" ng-selected="node.indexes[head]===3">Error</option>
			</select>
		</td>
	</tr>
	</script>
	<script type="text/ng-template" id="me">
        <table tt-table tt-params="meCtrl.dynamic_params" 
 		class="table table-bordered table-condensed pvt table-precise-border table-fix-header profile-table ng-isolate-scope treetable">
        <thead>
            <tr class="tbl-header">
                <th>Path</th>
                <th>Name</th>
				<th ng-repeat="head in meCtrl.headers">{{head}}
					<span ng-click="meCtrl.controls.clear(meCtrl.dynamic_params.getNodes(),head)" style="color : red;" class="glyphicon glyphicon-remove pull-right danger" aria-hidden="true"></span>
				</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    </script>
</body>
</html>
