<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="brand" id="appheader">
        <a style="display: inline-block; text-shadow:none" href="#">
            <div id="apptitle">NIST <span style='color:white;'>Ack Generation</span><span style='color:red; font-size:12px'> 1.0.0-SNAPSHOT</span></div>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="appnavi">
        <ul class="nav navbar-nav">
            <li ng-class="{'active':isActive('/home')}"><a href="#/home"><i class="fa fa-home"></i> Home</a></li>
         </ul>
    </div>
</div>